In [1]:
import os 
import pandas as pd

In [2]:
wd = os.getcwd()
os.listdir(wd)

['.git',
 '.ipynb_checkpoints',
 'AB_US_2020.csv',
 'Airbnb Data EDA.ipynb',
 'Airbnb Data Modeling.ipynb',
 'Airbnb Data Preprocessing and Training.ipynb',
 'AirbnbDataWrangling.ipynb',
 'README.md']

In [3]:
df = pd.read_csv('AB_US_2020.csv', low_memory=False)

In [4]:
print(df)

              id                                               name  \
0          38585    Charming Victorian home - twin beds + breakfast
1          80905                                   French Chic Loft
2         108061  Walk to stores/parks/downtown. Fenced yard/Pet...
3         155305                 Cottage! BonPaul + Sharky's Hostel
4         160594                                Historic Grove Park
...          ...                                                ...
226025  45506143                          DC Hidden In Plain "Site"
226026  45511428  DC 3 BR w/ screen porch 3 blck to metro w/ par...
226027  45514685  Charming Penthouse Apt w/ Rooftop Terrace in L...
226028  45516412                Adams Morgan/Nat'l Zoo 1 BR Apt #32
226029  45517735    Beautiful large one-bedroom w/ washer and dryer

          host_id  host_name neighbourhood_group  \
0          165529    Evelyne                 NaN
1          427027    Celeste                 NaN
2          320564       Lisa                 NaN
3          746673    BonPaul                 NaN
4          769252  Elizabeth                 NaN
...           ...        ...                 ...
226025   25973146      Marci                 NaN
226026  231133074     Thomas                 NaN
226027   33758935     Bassem                 NaN
226028   23193071    Michael                 NaN
226029   17789858       Adam                 NaN

                                            neighbourhood   latitude  \
0                                                   28804  35.651460
1                                                   28801  35.597790
2                                                   28801  35.606700
3                                                   28806  35.578640
4                                                   28801  35.614420
...                                                   ...        ...
226025  Downtown, Chinatown, Penn Quarters, Mount Vern...  38.903880
226026                      Brookland, Brentwood, Langdon  38.920820
226027                                 Shaw, Logan Circle  38.911170
226028     Kalorama Heights, Adams Morgan, Lanier Heights  38.926630
226029  Edgewood, Bloomingdale, Truxton Circle, Eckington  38.911569

        longitude        room_type  price  minimum_nights  number_of_reviews  \
0      -82.627920     Private room     60               1                138
1      -82.555400  Entire home/apt    470               1                114
2      -82.555630  Entire home/apt     75              30                 89
3      -82.595780  Entire home/apt     90               1                267
4      -82.541270     Private room    125              30                 58
...           ...              ...    ...             ...                ...
226025 -77.029730  Entire home/apt    104               1                  0
226026 -76.990980  Entire home/apt    151               2                  0
226027 -77.033540  Entire home/apt    240               2                  0
226028 -77.044360  Entire home/apt     60              21                  0
226029 -77.009431  Entire home/apt     79               7                  0

       last_review  reviews_per_month  calculated_host_listings_count  \
0         16/02/20               1.14                               1
1         07/09/20               1.03                              11
2         30/11/19               0.81                               2
3         22/09/20               2.39                               5
4         19/10/15               0.52                               1
...            ...                ...                             ...
226025         NaN                NaN                               2
226026         NaN                NaN                               1
226027         NaN                NaN                               1
226028         NaN                NaN                               5
226029         NaN                NaN                               2

        availability_365             city
0                      0        Asheville
1                    288        Asheville
2                    298        Asheville
3                      0        Asheville
4                      0        Asheville
...                  ...              ...
226025                99  Washington D.C.
226026               300  Washington D.C.
226027               173  Washington D.C.
226028               362  Washington D.C.
226029                62  Washington D.C.

[226030 rows x 17 columns]

In [5]:
df.head(3)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,NaN,28804,35.65146,-82.62792,Private room,60,1,138,16/02/20,1.14,1,0,Asheville
1,80905,French Chic Loft,427027,Celeste,NaN,28801,35.59779,-82.55540,Entire home/apt,470,1,114,07/09/20,1.03,11,288,Asheville
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,NaN,28801,35.60670,-82.55563,Entire home/apt,75,30,89,30/11/19,0.81,2,298,Asheville

In [6]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'city'],
      dtype='object')

In [7]:
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
city                               object
dtype: object

In [8]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,2.260300e+05,2.260300e+05,226030.000000,226030.000000,226030.000000,2.260300e+05,226030.000000,177428.00000,226030.000000,226030.000000
mean,2.547176e+07,9.352385e+07,35.662829,-103.220662,219.716529,4.525490e+02,34.506530,1.43145,16.698562,159.314856
std,1.317814e+07,9.827422e+07,6.849855,26.222091,570.353609,2.103376e+05,63.602914,1.68321,51.068966,140.179628
min,1.090000e+02,2.300000e+01,18.920990,-159.714900,0.000000,1.000000e+00,0.000000,0.01000,1.000000,0.000000
25%,1.515890e+07,1.399275e+07,32.761783,-118.598115,75.000000,1.000000e+00,1.000000,0.23000,1.000000,0.000000
50%,2.590916e+07,5.138266e+07,37.261125,-97.817200,121.000000,2.000000e+00,8.000000,0.81000,2.000000,140.000000
75%,3.772624e+07,1.497179e+08,40.724038,-76.919323,201.000000,7.000000e+00,39.000000,2.06000,6.000000,311.000000
max,4.556085e+07,3.679176e+08,47.734620,-70.995950,24999.000000,1.000000e+08,966.000000,44.06000,593.000000,365.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226030 entries, 0 to 226029
Data columns (total 17 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              226030 non-null  int64
 1   name                            226002 non-null  object
 2   host_id                         226030 non-null  int64
 3   host_name                       225997 non-null  object
 4   neighbourhood_group             110185 non-null  object
 5   neighbourhood                   226030 non-null  object
 6   latitude                        226030 non-null  float64
 7   longitude                       226030 non-null  float64
 8   room_type                       226030 non-null  object
 9   price                           226030 non-null  int64
 10  minimum_nights                  226030 non-null  int64
 11  number_of_reviews               226030 non-null  int64
 12  last_review                     177428 non-null  object
 13  reviews_per_month               177428 non-null  float64
 14  calculated_host_listings_count  226030 non-null  int64
 15  availability_365                226030 non-null  int64
 16  city                            226030 non-null  object
dtypes: float64(3), int64(7), object(7)
memory usage: 29.3+ MB

In [10]:
df.shape

(226030, 17)

In [11]:
missing = df.isna().sum()
print(missing)

id                                     0
name                                  28
host_id                                0
host_name                             33
neighbourhood_group               115845
neighbourhood                          0
latitude                               0
longitude                              0
room_type                              0
price                                  0
minimum_nights                         0
number_of_reviews                      0
last_review                        48602
reviews_per_month                  48602
calculated_host_listings_count         0
availability_365                       0
city                                   0
dtype: int64

In [12]:
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
city                               object
dtype: object

In [13]:
df['neighbourhood_group']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
226025    NaN
226026    NaN
226027    NaN
226028    NaN
226029    NaN
Name: neighbourhood_group, Length: 226030, dtype: object

In [14]:
df['last_review'] = pd.to_datetime(df['last_review'])

In [15]:
df.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                      int64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
city                                      object
dtype: object

In [16]:
df.dropna(inplace=True)

In [17]:
df.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
city                              0
dtype: int64

In [18]:
df.to_csv('AirbnbData_Cleaned.csv')